<!-- Modifica al file HTML.erb -->
<div class="admin-events-container">
  <h1 class="admin-events-title">Gestione Eventi</h1>
  
  <div class="admin-events-actions">
    <%= link_to 'Crea un nuovo evento', new_admin_event_path, class: 'admin-events-new-btn' %>
  </div>
  
  <div class="admin-events-table-container">
    <table class="admin-events-table">
      <thead>
        <tr>
          <th>Titolo</th>
          <th>Data di inizio</th>
          <th>Data di fine</th>
          <th>Azioni</th>
        </tr>
      </thead>
      <tbody>
        <% @events.each do |event| %>
          <tr>
            <td><%= event.title %></td>
            <td><%= event.start_datetime.strftime("%d/%m/%Y %H:%M") %></td>
            <td><%= event.end_datetime.strftime("%d/%m/%Y %H:%M") %></td>
            <td class="actions-cell">
              <%= link_to 'Modifica', edit_admin_event_path(event), class: 'action-link edit-link' %>
              <%= link_to 'Elimina', admin_event_path(event), method: :delete, data: { confirm: 'Sei sicuro?' }, class: 'action-link delete-link' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>