<%= link_to event_path(event.id), class: "event-card-link" do %>
  <div class="event-card">
    <div class="event-design">
      <% if event.poster_pic.present? %>
        <%= image_tag(event.poster_pic, alt: "Event Image", class: "event-image") %>
      <% else %>
        <%= image_tag("default-poster.jpg", alt: "Event Image", class: "event-image") %>
      <% end %>
    </div>

    <div class="event-frame">
      <div class="event-date">
        <span class="month"><%= event.start_datetime.strftime("%b") %></span>
        <span class="day"><%= event.start_datetime.day %></span>
      </div>

      <div class="event-details">
        <h3 class="event-title"><%= event.title %></h3>
        <p class="event-location"><%= "#{event.address}, #{event.city}, #{event.country}" %></p>
        <p class="event-time"><%= event.start_datetime.strftime("%I:%M %p") %></p>
      </div>
    </div>
  </div>
<% end %>