<nav class="navbar">
    <div class="brand">
        <%= link_to root_path do %>
            <%= image_tag "bEvent-brand.png", alt: "bEvent Logo", class: "brand-image" %>
        <% end %>
    </div>
    <!-- Barra di ricerca -->
    <% if controller_name != "events" || action_name != "search" %>
        <div class="search-bar">
            <%= form_with url: events_search_path, method: :get, local: true, class: "search-bar" do %>
                <div class="search-input">
                    <%= text_field_tag :query, params[:query], placeholder: "Cerca...", class: "search-field" %>
                </div>

                <div class="search-divider"></div>

                <div class="search-dropdown">
                    <%= select_tag :city, options_for_select([['Città...', ''], 'Roma', 'Milano', 'Napoli', 'Torino', 'Firenze'], params[:city]), class: "city-dropdown" %>
                </div>

                <button type="submit" class="search-button">
                    <i class="fas fa-search"></i>
                </button>
            <% end %>
        </div>
    <% else %>
        <div class="search-bar-placeholder">
        </div>
    <% end %>
    
    <!-- Link alla pagina di ricerca eventi -->
    <%= link_to "Eventi", search_events_path, class: "nav-link" %> <%#!!!!!!!!!!!!!! Penso così vada bene, da fare la route%>
    <% if !current_user.admin?%>
        <% if can? :create, Event %>
            <%= link_to "I miei eventi", user_my_events_path(current_user), class: "nav-link" %>
        <% else %>
            <%= link_to "Preferiti", user_favourite_path(current_user), class: "nav-link" %>
        <% end %>
        
        <!-- Cart -->
        <% if can? :read, Cart%>
            <div class="cart-container">
                <%= link_to cart_path(@current_cart), class: "cart-link" do %>
                    <i class="fa-solid fa-cart-shopping"></i>
                <% end %>
            </div>
        <% end %>


        <% if can? :create, Event %>
            <div class="create-container">
                <%= link_to new_event_path, class: "create-link" do %>
                    <i class="fa-solid fa-plus"></i>
                <% end %>
            </div>
        <% end %>
    <% else %>
        <%= link_to "Dashboard", admin_dashboard_path, class: "nav-link" %>
    <% end %>
    
    <!-- Profilo -->
    <div class="profile-menu" data-controller="dropdown">
        <% if user_signed_in? %>
            <div class="profile-dropdown", style: "height: 50px; width: 50px; border-radius: 45%;">
                <% if current_user.profile_pic.present? %>
                    <%= image_tag(current_user.profile_pic, style: "height: 50px; width: 50px; border-radius: 50%; cursor: pointer;", data: { action: "click->dropdown#toggle" } )%>
                <% else %>
                    <%= image_tag("default-avatar.png", style: "height: 50px; width: 50px; border-radius: 50%; cursor: pointer;", data: { action: "click->dropdown#toggle" } )%>
                <% end %>
                <div class="dropdown-content hidden" data-dropdown-target="menu">
                    <%= link_to "Profilo", user_path(current_user), class: "dropdown-item" %>
                    <%= link_to "Eventi", search_events_path, class: "dropdown-item mobile-nav-link" %>
                    <% if !current_user.admin? %>
                        <% if can? :create, Event %>
                            <%= link_to "Crea evento", new_event_path, class: "dropdown-item mobile-nav-link"%>
                            <%= link_to "I miei eventi", user_my_events_path(current_user), class: "dropdown-item mobile-nav-link" %>
                        <% else %>
                            <%= link_to "Preferiti", user_favourite_path(current_user), class: "dropdown-item mobile-nav-link" %>
                            <%= link_to "Carrello", cart_path(@current_cart), class: "dropdown-item mobile-nav-link"%>
                        <% end %>
                    <% else %>
                        <%= link_to "Dashboard", admin_dashboard_path, class: "dropdown-item mobile-nav-link" %>
                    <% end %>
                    <% if can? :see, Ticket %>
                        <%= link_to "I miei biglietti", tickets_path(current_user.id), class: "dropdown-item" %>
                    <% end %>
                    <% if !current_user.admin? %>
                        <%= link_to "Supporto", new_support_path, class: "dropdown-item" %>
                    <% end %>
                    <% if current_user.admin? %>
                        <%= link_to "Supporto", admin_supports_path, class: "dropdown-item" %>
                    <% end %>
                    <%= link_to "Impostazioni", edit_user_registration_path, class: "dropdown-item" %>
                    <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item logout-button" %>
                </div>
            </div>
        <% else %>
            <%= link_to "Login", new_user_session_path, class: "login-button" %>
        <% end %>
    </div>
</nav>