<!-- <h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p> -->

<% if @user.role.present? && @user.first_name.present? && @user.last_name.present? %>
  <%= render "devise/shared/navbar" %>
<% end %>

<div class="page-info">
  <div class="account-settings-container">
    <% if @user.role.present? && @user.first_name.present? && @user.last_name.present? %>
      <div class="sidebar">
        <h2>Impostazioni Account</h2>
        <ul>
          <li id="selected-w"><%= link_to "Modifica Profilo", edit_user_path(current_user) %></li>
          <li><%= link_to "Modifica Password", edit_user_registration_path %></li>
        </ul>
      </div>
    <% end %>
    <div class="settings-content">
      <h2>Modifica Account</h2>
      <hr>
      <%= form_with model: @user, url: user_path(@user), method: :patch do |f| %>
        <div class="form-group">
          <%= f.label :first_name, "Nome" %>
          <%= f.text_field :first_name, placeholder: "First name", class: "form-control", required: true %>
        </div>

        <div class="form-group">
          <%= f.label :last_name, "Cognome" %>
          <%= f.text_field :last_name, placeholder: "Last name", class: "form-control", required: true %>
        </div>

        <div class="form-group">
          <%= f.label :city, "Città" %>
          <%= f.text_field :city, placeholder: "Città", class: "form-control"  %>
        </div>

        <div class="form-group">
          <%= f.label :phone_number, "Numero di Telefono" %>
          <%= f.text_field :phone_number, placeholder: "Numero di Telefono", class: "form-control"  %>
        </div>

        <div class="form-group">
          <%= f.label :profile_pic, "Immagine Profilo" %><br />
          <%= f.file_field :profile_pic %>
        </div>

        <% if @current_user.role.nil? %>
          <div class="form-group">
            <%= f.label :role, "Seleziona il tuo ruolo" %><br>

            <div class="form-check">
              <%= f.radio_button :role, '0', checked: @user.role == '0', class: "form-check-input", id: "user", required: true %>
              <%= f.label :role, "User", class: "form-check-label", for: "user" %>
            </div>

            <div class="form-check">
              <%= f.radio_button :role, '1', checked: @user.role == '1', class: "form-check-input", id: "eventplanner", required: true %>
              <%= f.label :role, "Eventplanner", class: "form-check-label", for: "eventplanner" %>
            </div>

          </div>
        <% end %>
        
        <div class="form-actions">
          <%= f.submit "Salva modifiche", class: "save-btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% if @user.role.present? && @user.first_name.present? && @user.last_name.present? %>
  <%= render "devise/shared/footer" %>
<% end %>
