<%= render "devise/shared/navbar" %>
<div class="cont">
    <div class="page">
        <div class="banner">
            <div class="banner-content">
                <div class="info-profile">
                    <% if current_user.profile_pic.present? %>
                        <%= image_tag(current_user.profile_pic, data: { action: "click->dropdown#toggle" } )%>
                    <% else %>
                        <%= image_tag("default-avatar.png", data: { action: "click->dropdown#toggle" } )%>
                    <% end %>
                    <h1>Nome</h1>
                </div>
                <button class="edit-btn">Modifica</button>
            </div>
        </div>
        <div class="page-content">
            <div class="about">
                <div class="title"></div>
                <div class="details">
                    <h3>About</h3>
                    <p>Website</p>
                    <p>Company</p>
                    <p>Location</p>
                    <p>Email</p>
                    <p>Phone</p> 
                </div>
            </div>
            <div class="content-profile">
                <div class="description">
                    <h3>Description</h3>
                    <p>Lorem ipsum dolor sit amet consectetur. Eget vulputate sociis sit urna sit aliquet. Vivamus facilisis 
                        diam libero dolor volutpat diam eu. Quis a id posuere etiam at enim vivamus. Urna nisi malesuada libero 
                        enim ornare in viverra. Nibh commodo quis tellus aliquet nibh tristique lobortis id. Consequat 
                        ultricies vulputate turpis neque viverra tempor nunc. Et amet massa tellus consequat mauris imperdiet tellus. 
                        Praesent risus magna nisl turpis egestas ultrices viverra pellentesque blandit. Rutrum consequat eu 
                        penatibus ipsum at.</p>
                </div>
                <div class="events">
                    <div class="choice">
                        <h3 class="events_current">Current Events</h3>
                        <h3 class="events_past">Past Events</h3>
                    </div>
                    <div class="line"></div>
                    <div class="events-list">
                        <div class= "events-grid">
                            <%= link_to event_path(1), class: "event-card-link" do %>
                                <div class="event-card">
                                    <div class="event-design">
                                        <%= image_tag "card1.png", alt: "Event Image", class: "event-image" %>
                                    </div>
                                    <div class="event-frame">
                                        <h3 class="event-title">THE MOTANS GEOGRAPHIC 2025</h3>
                                        <p class="event-location">Orion Live Club</p>
                                        <div class="event-date">
                                            <span class="month">APR</span>
                                            <span class="day">11</span>
                                        </div>
                                        <p class="event-time">8 PM</p>
                                        <p class="event-price">Gratis</p>
                                    </div>
                                </div>
                            <% end %>

                            <%= link_to event_path(1), class: "event-card-link" do %>
                                <div class="event-card">
                                    <div class="event-design">
                                        <%= image_tag "card1.png", alt: "Event Image", class: "event-image" %>
                                    </div>
                                    <div class="event-frame">
                                        <h3 class="event-title">THE MOTANS GEOGRAPHIC 2025</h3>
                                        <p class="event-location">Orion Live Club</p>
                                        <div class="event-date">
                                            <span class="month">APR</span>
                                            <span class="day">11</span>
                                        </div>
                                        <p class="event-time">8 PM</p>
                                        <p class="event-price">Gratis</p>
                                    </div>
                                </div>
                            <% end %>

                            <%= link_to event_path(1), class: "event-card-link" do %>
                                <div class="event-card">
                                    <div class="event-design">
                                        <%= image_tag "card1.png", alt: "Event Image", class: "event-image" %>
                                    </div>
                                    <div class="event-frame">
                                        <h3 class="event-title">THE MOTANS GEOGRAPHIC 2025</h3>
                                        <p class="event-location">Orion Live Club</p>
                                        <div class="event-date">
                                            <span class="month">APR</span>
                                            <span class="day">11</span>
                                        </div>
                                        <p class="event-time">8 PM</p>
                                        <p class="event-price">Gratis</p>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                        <div class= "sm-btn"></div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <%= render "devise/shared/footer" %>
</div>


