<div class="design">
  <%= image_tag "party_back.jpg", class: "background-image" %>
</div>


<div class="pass">

  <h2 class="title">Cambia password</h2>


  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="field txt-field">
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", placeholder: "Nuova password" %>
    </div>

    <div class="field txt-field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Conferma password" %>
    </div>

    <div class="actions">
      <%= f.submit "Cambia password", class: "btn-submit" %>
    </div>
  <% end %>

</div>


