<div class="design">
  <%= image_tag "party_back.jpg", class: "background-image" %>
</div>

<div class="pass">
  <h2 class="title">Password dimenticata?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field txt-field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Inserisci la tua email" %>
    </div>

    <div class="actions">
      <%= f.submit "Invia istruzioni di reset", class: "btn-submit" %>
    </div>

    <div class="line"></div>
  <% end %>

  <%= render "devise/shared/omniauth_links" %>

  <div class="sgnp">
    <p class="informative">Non hai un account?</p>
    <%= render "devise/shared/sign_up" %>
  </div>

  <div class="lgn">
    <p class="informative">Password già cambiata?</p>
    <%= render "devise/shared/log_in" %>
  </div>
</div>

