
<div class="admin-events-container">
  <div class= "show-back">
        <%= link_to admin_events_path do %>
            <i class="fa-solid fa-arrow-left"></i>
        <% end %>
  </div>
  
  <h1 class="admin-events-title">Gestione Recensioni di <%= @event.title %></h1>  
  <div class="admin-events-table-container">
    <table class="admin-events-table">
      <thead>
        <tr>
          <th>Utente</th>
          <th>Rating</th>
          <th>Azioni</th>
        </tr>
      </thead>
      <tbody>
        <% if @reviews %>
          <% @reviews.each do |review| %>
            <tr>
              <td><%= review.user.first_name + " " + review.user.last_name %></td>
              <td><%= review.rating %></td>
              <td class="actions-cell">
                <%= link_to 'Modifica', edit_admin_event_review_path(@event, review), class: 'action-link edit-link' %>
                <%= button_to 'Elimina', admin_event_review_path(@event, review), method: :delete, data: { confirm: 'Sei sicuro?' }, class: 'action-link delete-link' %>
              </td>
            </tr>
          <% end %>
        <% else %>
          
        <% end %>
      </tbody>
    </table>
  </div>
</div>