<div class="page">
  <!------------------------------------ Navbar ---------------------------------------->
  <%= render "devise/shared/navbar" %>

  <!---------------------------------------------------- Contenuto ------------------------------------------------->
  <div class="home-container">
    <div class="hero">
      <%= image_tag "Banner.jpg", alt: "Hero Image", class: "hero-image" %>
      <h1 class="hero-text">Trova gli eventi perfetti per te!</h1>
    </div>

    <!-- Event Containers -->
    <div class="events-section">
      <!-- Example Event Container -->
      <div class="event-container">
        <% Event::VALID_CATEGORIES.each do |category| %>
          <% events_for_category = @events.select { |event| event.category == category } %>
          <% if events_for_category.any? %>
      
                <h2 class="container-title">Eventi di <%= category %></h2>

                <div class="events-grid">
                  <% @events.first(6).each_slice(2) do |event_group| %>
                    <div class="events-row">
                      <% event_group.each do |event| %>
                        <%= link_to event_path(event.id), class: "event-card-link" do %>
                          <div class="event-card">
                            <div class="event-design">
                              <% if event.poster_pic.present? %>
                                <%= image_tag(event.poster_pic, alt: "Event Image", class: "event-image")%>
                              <% else %>
                                <%= image_tag("default-poster.jpg", alt: "Event Image", class: "event-image" )%>
                              <% end %>
                              <%#= image_tag "card1.png", alt: "Event Image", class: "event-image" %>
                            </div>

                            <div class="event-frame">

                              <div class="event-date">
                                <span class="month"><%= event.start_datetime.strftime("%b")%></span>
                                <span class="day"><%= event.start_datetime.day%></span>
                              </div>

                              <div class="event-details">
                                <h3 class="event-title"><%= event.title %></h3>
                                <p class="event-location"><%= event.address + ", " +event.city+", "+event.country%></p>
                                <p class="event-time"><%= event.start_datetime%></p>
                                <p class="event-price"><%= event.price%></p>
                              </div>
                          
                            </div>
                          </div>
                        <% end %>
                      <% end %>
                    </div>
                  <% end %>
                </div>

                <%= link_to "Vedi di più", search_events_path, style: "font-family: 'Heebo'" %>

            <% end %>
          <% end %>
        </div>
    </div>
  </div>


  <!------------------------------------ Footer ---------------------------------------->

  <%= render "devise/shared/footer" %>

  

</div>
