<div class="page">
  <!------------------------------------ Navbar ---------------------------------------->
  <%= render "devise/shared/navbar" %>

  <!---------------------------------------------------- Contenuto ------------------------------------------------->
  <div class="home-container">
    <div class="hero">
      <%= image_tag "Banner.jpg", alt: "Hero Image", class: "hero-image" %>
      <h1 class="hero-text">Trova gli eventi perfetti per te!</h1>
    </div>

    <!-- Event Containers -->
    <div class="events-section">
      <!-- Example Event Container -->
      <div class="event-container">
      
        <h2 class="container-title">Eventi di Cibo a Roma</h2>

        <div class="events-grid">
        
          <%= link_to event_path(1), class: "event-card-link" do %>
            <div class="event-card">
                <div class="event-design">
                  <%= image_tag "card1.png", alt: "Event Image", class: "event-image" %>
                </div>

                <div class="event-frame">

                  <div class="event-date">
                    <span class="month">APR</span>
                    <span class="day">11</span>
                  </div>

                  <div class="event-details">
                    <h3 class="event-title">THE MOTANS GEOGRAPHIC 2025</h3>
                    <p class="event-location">Orion Live Club</p>
                    <p class="event-time">8 PM</p>
                    <p class="event-price">"Gratis"</p>
                  </div>
                  
                </div>
            </div>
          <% end %>
        </div>

        <a href="#" class="see-more-btn">See More</a>

      </div>
    </div>
  </div>


  <!------------------------------------ Footer ---------------------------------------->

  <%= render "devise/shared/footer" %>

  

</div>
