<div class="page">
  <!------------------------------------ Navbar ---------------------------------------->
  <%= render "devise/shared/navbar" %>

  <!---------------------------------------------------- Contenuto ------------------------------------------------->
  <div class="home-container">
    <div class="hero">
      <%= image_tag "Banner.jpg", alt: "Hero Image", class: "hero-image" %>
      <h1 class="hero-text">Trova gli eventi perfetti per te!</h1>
    </div>

    <!-- Event Containers -->
    <div class="events-section">
      <!-- Example Event Container -->
      <div class="event-container">
        <% Event::VALID_CATEGORIES.each do |category| %>
          <% events_for_category = @events.select { |event| event.category == category } %>
          <% if events_for_category.any? %>
      
                <h2 class="container-title">Eventi di <%= category %></h2>

                <div class="events-grid">
                  <% @events.first(6).each_slice(2) do |event_group| %>
                    <div class="events-row">
                      <% event_group.each do |event| %>
                        <%= render partial: "devise/shared/event_card", locals: { event: event } %>
                      <% end %>
                    </div>
                  <% end %>
                </div>

                <%= link_to "Vedi di più", search_events_path(category: category), style: "font-family: 'Heebo'" %>

            <% end %>
          <% end %>
        </div>
    </div>
  </div>


  <!------------------------------------ Footer ---------------------------------------->

  <%= render "devise/shared/footer" %>

  

</div>
