<%= form_with model: @event, local: true do |f| %>
    <% if @event.errors.any? %>
    <div class="error-messages">
        <h2>Ci sono <%= @event.errors.count %> errori:</h2>
        <ul>
            <% @event.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
    <% end %>
    <div>
        <%= f.label :title, "Titolo" %>
        <%= f.text_field :title %>
    </div>

    <div>
        <%= f.label :description, "Descrizione" %>
        <%= f.text_area :description %>
    </div>

    <div class="form-group">
        <%= f.label :poster_pic, "Poster dell'evento" %><br />
        <%= f.file_field :poster_pic %>
      </div>

    <div>
        <%= f.label :start_datetime, "Data e ora di inizio" %>
        <%= f.datetime_select :start_datetime %>
    </div>

    <div>
        <%= f.label :end_datetime, "Data e ora di fine" %>
        <%= f.datetime_select :end_datetime %>
    </div>

    <div>
        <%= f.label :address, "Indirizzo" %>
        <%= f.text_field :address %>
    </div>

    <div>
        <%= f.label :city, "Città" %>
        <%= f.text_field :city %>
    </div>

    <div>   
        <%= f.label :country, "Paese" %>
        <%= f.text_field :country %>
    </div>

    <div>
        <%= f.label :category, "Categoria" %>
        <%= f.select :category, Event::VALID_CATEGORIES, prompt: "Seleziona una categoria"%>
    </div>
    
    <div>
        <%= f.label :max_participants, "Numero massimo di partecipanti" %>
        <%= f.number_field :max_participants %>
    </div>

    <div>
        <%= f.label :event_price, "prezzo" %>
        <%= f.number_field :event_price %>
    </div>

    <div>
        <%= f.label :charity_event, "Evento di beneficienza?" %>
        <%= f.checkbox :charity_event %>
    </div>

    <div>
        <%= f.label :beneficiary, "Beneficiario" %>
        <%= f.text_field :beneficiary %>
    </div>

    <div>
        <%= f.label :fundraiser_goal, "Obiettivo raccolta fondi" %>
        <%= f.number_field :fundraiser_goal, step: 0.01 %>
    </div>

    <div>
        <%= f.submit "Crea evento" %>
    </div>

<% end %>
