<%= render "devise/shared/navbar" %>

<div class="page">
    <div class= "show-back">
        <i class="fa-solid fa-arrow-left"></i>
    </div>
    <div class= "show-page">    
        <div class="banner-image">
            <% if @event.poster_pic.present? %>
                <%= image_tag(@event.poster_pic, alt: "Event Image", class: "event-image")%>
            <% else %>
                <%= image_tag("default-poster.jpg", alt: "Event Image", class: "event-image" )%>
            <% end %>
        </div>

        <div class="event-container">
            <div class="event-header">
                <h1 class="event-title"><%= @event.title %></h1>
                <div class="event-icons">
                    <i class="fa-regular fa-heart"></i>
                    <i class="fa-solid fa-share"></i>
                </div>
            </div>

            <div class="event-details">
                <div class="event-info">
                    <h3 class="info-title">Data e Ora di Inizio</h3>
                    <p class="info-date"><i class="fa-regular fa-calendar"></i><%= l(@event.start_datetime, format: "%A, %d %B %Y").gsub(/\b\w/) { |match| match.upcase } %></p>
                    <p class="info-time"><i class="fa-regular fa-clock"></i><%= @event.start_datetime.strftime("%H:%M") %></p>
                    <h3 class="info-title">Data e Ora di Fine</h3>
                    <p class="info-date"><i class="fa-regular fa-calendar"></i><%= l(@event.end_datetime, format: "%A, %d %B %Y").gsub(/\b\w/) { |match| match.upcase } %></p>
                    <p class="info-time"><i class="fa-regular fa-clock"></i><%= @event.end_datetime.strftime("%H:%M") %></p>
                </div>

                <div class="event-buy">
                    <button class="buy-btn">🎟 Compra un biglietto</button>
                    <div class="tckt-info">
                        <h4>Info Biglietti</h4>
                        <% if @event.event_price == 0.0 %>
                            <p><i class="fa-solid fa-ticket"></i>Gratis</p>
                        <% else %>
                            <p><i class="fa-solid fa-ticket"></i><%= number_to_currency(@event.event_price, unit: "€") %></p>
                        <% end %>
                    </div>
                </div>
            </div>

            <div class="event-location">
                <h3>Location</h3>
                <p><i class="fa-solid fa-location-dot"></i><%= @event.address+", "+@event.city+", "+@event.country%></p>
                <div class="map"></div>
            </div>

            <div class="event-host">
                <h3>Organizzato Da</h3>
                <%= link_to user_path(@organizer.id), style: "text-decoration: none;" do%>
                    <div class="host-info">
                        <% if @organizer.profile_pic.present? %>
                            <%= image_tag(@organizer.profile_pic, class: "host-image" )%>
                        <% else %>
                            <%= image_tag("default-avatar.png", class: "host-image" )%>
                        <% end %>
                        <%#= image_tag "Profile.png", class: "host-image" %>
                        <div class="host-details">
                            <p class="host-name"><%= @organizer.first_name %></p>
                            <!--p><%= link_to @organizer.first_name, user_path(@organizer.id)%></p-->
                            <!--button class="follow-btn">Visita</button-->
                        </div>
                    </div>
                <% end %>
            </div>

            <div class="event-description">
                <h3>Descrizione</h3>
                <p><%= @event.description %></p>
            </div>

            <div class="tags">
                <h3>Categoria</h3>
                <div class="tag-list">
                    <span class="tag"><%= @event.category %></span>
                </div>
            </div>

            <div class="others">
                <h3>Altri eventi che possono piacerti</h3>
                <div class="event-suggestions">
                    <% @events.where("category = ?", @event.category).limit(3).each do |other_event|%>
                        <%= link_to event_path(other_event.id), class: "event-card-link" do %>
                            <div class="event-card">
                                <div class="event-design">
                                    <% if other_event.poster_pic.present? %>
                                        <%= image_tag(other_event.poster_pic, alt: "Event Image", class: "event-image")%>
                                    <% else %>
                                        <%= image_tag("default-poster.jpg", alt: "Event Image", class: "event-image" )%>
                                    <% end %>
                                </div>

                                <div class="event-frame">
                                    <h3 class="other-event-title"><%= other_event.title %></h3>
                                    <p class="other-event-location"><%= other_event.address+", "+other_event.city+", "+other_event.country %></p>
                                    <div class="other-event-date">
                                        <span class="other-month"><%= other_event.start_datetime.strftime("%b") %></span>
                                        <span class="other-day"><%= other_event.start_datetime.strftime("%d") %></span>
                                    </div>
                                    <p class="other-event-time"><%= other_event.start_datetime.strftime("%H:%M") %></p>
                                    <% if other_event.event_price == 0 || other_event.event_price == nil %>
                                        <p class="other-event-price">Gratis</p>
                                    <% else %>
                                        <p class="other-event-price"><%= number_to_currency(other_event.event_price, unit: "€") %></p>
                                    <% end %>
                                </div>
                            </div>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>

</div>
<%= render "devise/shared/footer" %>
