<%= render "devise/shared/navbar" %>
<div class="shopping-menu">
  
  <div class="sidebar">
    <h2>Acquisti</h2>
    <ul>
      <li><%= link_to "Carrello", cart_path(@current_cart)%></li>
      <li><%= link_to "I miei ordini", checkouts_index_path(current_user.id) %></li>
      <li><%= link_to "I miei biglietti", tickets_path(current_user.id) %></li>
    </ul>
  </div>

  <div class="shopping-content">
    <h2>I miei biglietti</h2>
        <% if @tickets.any? %>
      <div class="checkout-container">
        <% @tickets.each do |ticket| %>
          <div class="checkout-card">
            <strong><%= ticket.event.title %></strong>
            <ul class="checkout-items">
              <li>
                <%= ticket.quantity %> biglietto(i) - 
                Prezzo: <%= number_to_currency(ticket.event.event_price, unit: "€") %>
                <%= link_to download_pdf_ticket_path(ticket), class: "pdf-button", target: "_blank" do %>
                  <%= image_tag("download_icon.png", alt: "Scarica PDF", class: "download-icon") %>
                <% end %>
                <% if ticket.event.has_ended? %>
                  <% user_review = ticket.event.reviews.find_by(user_id: current_user.id)%>
                  <% if user_review.nil? %>
                    <%= link_to "Lascia Recensione", new_review_path(event_id: ticket.event.id), class: "review-bt"%>
                  <% else %>
                    <%= link_to "Modifica Recensione", edit_review_path(user_review), class: "review-bt"%>
                  <% end %>
                <% end %>
              </li>
            </ul>
          </div>
        <% end %>
      </div>
    <% else %>
      <p class="no-orders">Non hai ancora effettuato acquisti.</p>
    <% end %>
  </div>
</div>
<%= render "devise/shared/footer" %>
