
  <!-- Logo in alto a destra -->
  <%= link_to root_path do %>
    <%= image_tag("ProvLogo.png", alt: "Logo", class: "logo") %>
  <% end %>

<h2 class="login-title">Log In</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <!-- Email -->
  <div class="field">
    <%= f.label :email, "Email", class: "label" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input-field" %>
  </div>
  <br>

  <div class="field-password">
    <%= f.label :password, "Password", class: "label" %>
    <%= f.password_field :password, autocomplete: "current-password", class: "input-field-password" %>
  </div>

  <br>

  <% if devise_mapping.rememberable? %>
    <div class="field_remember-me-login">
      
      <div class="remember-me-left">
        <%= f.check_box :remember_me, class: "checkbox" %>
        <%= f.label :remember_me, "Remember me", class: "remember-label" %>
      </div>
      <div class="login-buttons-right">
        <%= f.submit "Log in", class: "btn btn-login" %>
      </div>
    </div>
  <% else %>
    <%= f.submit "Log in", class: "btn btn-login" %>
  <% end %>
<% end %>

<br>

<%= render "devise/shared/links" %>
